In [1]:
import pandas as pd
import numpy as np
import nltk
import string
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer
pd.set_option('display.max_rows', 100)

In [2]:
df = pd.read_csv("../raw_data/input_data.csv")
df.drop(columns=["Unnamed: 0"],inplace=True)
df["fichier"]=df["fichier"].str[0:-17]

In [3]:
df

,fichier,translation
0,0037fbb3-844e-477e-8432-bf93ab0b678c,"Création d'un AMI, ami 1 50 le lundi premier o..."
1,035ba22d-af77-42ff-9a5a-d6c0969f18cf,Créer une ami 1 50 faite au cabinet ce matin à...
2,038b4861-80a8-4615-bc74-28023bf4a62b,Ajouter une ami 1 50 à la visite de ce matin.
3,038cf73c-1508-44e9-b3b0-7d0e3a320a66,Prise de sang faite au cabinet le 22 juillet à...
4,039a13db-4d36-422b-ac3d-e1d682dac08f,Création d'un ami 1 50 réalisé à 8h00 au cabin...
...,...,...
4107,f0caa21b-c11d-40a3-98ec-e2df3d2b9cc4_9e85e6e0-...,Prise de sang réalisée le premier avril à 9h.
4108,f0caa21b-c11d-40a3-98ec-e2df3d2b9cc4_9ecdacd2-...,Madame Didier Denise plus partie du siad à dat...
4109,f0caa21b-c11d-40a3-98ec-e2df3d2b9cc4_9ed90444-...,Prise de sang faite le 27 janvier à 8h.
4110,f0caa21b-c11d-40a3-98ec-e2df3d2b9cc4_9f8a262f-...,"Prise de sang réalisée le 3 juillet à lomont, ..."
4111,f0caa21b-c11d-40a3-98ec-e2df3d2b9cc4_9f9bd06f-...,Prise de sang faite vendredi 29 janvier à 6h30.

In [4]:
df.set_index("fichier",inplace = True)
df

                                                                                          translation
fichier
0037fbb3-844e-477e-8432-bf93ab0b678c                Création d'un AMI, ami 1 50 le lundi premier o...
035ba22d-af77-42ff-9a5a-d6c0969f18cf                Créer une ami 1 50 faite au cabinet ce matin à...
038b4861-80a8-4615-bc74-28023bf4a62b                    Ajouter une ami 1 50 à la visite de ce matin.
038cf73c-1508-44e9-b3b0-7d0e3a320a66                Prise de sang faite au cabinet le 22 juillet à...
039a13db-4d36-422b-ac3d-e1d682dac08f                Création d'un ami 1 50 réalisé à 8h00 au cabin...
...                                                                                               ...
f0caa21b-c11d-40a3-98ec-e2df3d2b9cc4_9e85e6e0-6...      Prise de sang réalisée le premier avril à 9h.
f0caa21b-c11d-40a3-98ec-e2df3d2b9cc4_9ecdacd2-d...  Madame Didier Denise plus partie du siad à dat...
f0caa21b-c11d-40a3-98ec-e2df3d2b9cc4_9ed90444-e...            Prise de sang faite le 27 janvier à 8h.
f0caa21b-c11d-40a3-98ec-e2df3d2b9cc4_9f8a262f-3...  Prise de sang réalisée le 3 juillet à lomont, ...
f0caa21b-c11d-40a3-98ec-e2df3d2b9cc4_9f9bd06f-b...    Prise de sang faite vendredi 29 janvier à 6h30.

[4112 rows x 1 columns]

In [5]:
df["clean"]=df["translation"]
df

,translation,clean
fichier,,
0037fbb3-844e-477e-8432-bf93ab0b678c,"Création d'un AMI, ami 1 50 le lundi premier o...","Création d'un AMI, ami 1 50 le lundi premier o..."
035ba22d-af77-42ff-9a5a-d6c0969f18cf,Créer une ami 1 50 faite au cabinet ce matin à...,Créer une ami 1 50 faite au cabinet ce matin à...
038b4861-80a8-4615-bc74-28023bf4a62b,Ajouter une ami 1 50 à la visite de ce matin.,Ajouter une ami 1 50 à la visite de ce matin.
038cf73c-1508-44e9-b3b0-7d0e3a320a66,Prise de sang faite au cabinet le 22 juillet à...,Prise de sang faite au cabinet le 22 juillet à...
039a13db-4d36-422b-ac3d-e1d682dac08f,Création d'un ami 1 50 réalisé à 8h00 au cabin...,Création d'un ami 1 50 réalisé à 8h00 au cabin...
...,...,...
f0caa21b-c11d-40a3-98ec-e2df3d2b9cc4_9e85e6e0-6b98-4337-98ea-0da243b256a1,Prise de sang réalisée le premier avril à 9h.,Prise de sang réalisée le premier avril à 9h.
f0caa21b-c11d-40a3-98ec-e2df3d2b9cc4_9ecdacd2-d4bf-48a1-b43a-d2da6a8dec31,Madame Didier Denise plus partie du siad à dat...,Madame Didier Denise plus partie du siad à dat...
f0caa21b-c11d-40a3-98ec-e2df3d2b9cc4_9ed90444-e8d5-4e57-82b5-1f3493b7081e,Prise de sang faite le 27 janvier à 8h.,Prise de sang faite le 27 janvier à 8h.
f0caa21b-c11d-40a3-98ec-e2df3d2b9cc4_9f8a262f-3286-4194-a4af-1a8f1e17891e,"Prise de sang réalisée le 3 juillet à lomont, ...","Prise de sang réalisée le 3 juillet à lomont, ..."
f0caa21b-c11d-40a3-98ec-e2df3d2b9cc4_9f9bd06f-bc5f-4ceb-bc70-1449dced98c6,Prise de sang faite vendredi 29 janvier à 6h30.,Prise de sang faite vendredi 29 janvier à 6h30.

In [6]:
df["clean"]=df["clean"].str.lower()

In [7]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [8]:
vectorizer = CountVectorizer()

In [9]:
X = vectorizer.fit_transform(df["clean"])
X.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [10]:
list_word = vectorizer.get_feature_names()
len(list_word)

/home/julianb/.pyenv/versions/3.8.12/envs/ephesus/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

3305

In [11]:
df_vect = pd.DataFrame(X.toarray(),columns = vectorizer.get_feature_names())
df_vect

,01,012,02,03,032,04,042,05,06,07,...,études,été,évacuateur,évelyne,évidemment,évolution,êtes,être,ôter,œil
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4107,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4108,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4109,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4110,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4111,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
ds_word = df_vect.sum().sort_values(ascending=False).head(100)
ds_word

le             3534
de             2889
domicile       1840
prise          1556
sang           1547
pour           1174
au             1104
par            1013
test            990
ce              934
en              920
merci           903
et              876
réalisé         775
la              736
les             730
du              696
un              681
une             668
jour            664
donc            655
pcr             633
matin           582
jours           576
ordonnance      556
mars            542
est             516
cabinet         509
antigénique     489
fait            417
tous            414
réalisée        403
février         402
madame          398
didier          390
pansement       385
que             383
2022            353
faite           352
monsieur        344
des             340
soir            338
janvier         324
temps           316
pas             316
patient         304
même            298
réalisation     298
2021            283
midi            279
ald             266
injection       263
plus            257
sur             254
pendant         233
passage         230
10              227
sous            226
avril           223
fois            220
soins           212
il              210
décembre        209
novembre        204
bilan           203
octobre         203
15              191
cutanée         187
après           181
mois            181
vendredi        174
12              173
effectué        171
déplacement     169
denise          167
19              166
je              165
patiente        162
covid           159
partir          155
sanguin         154
22              153
lundi           152
8h              151
21              150
avec            150
mercredi        149
dimanche        148
débuté          146
11              146
on              146
amandine        144
premier         139
juillet         136
sylvie          136
septembre       136
nicolas         135
chez            135
isabelle        133
9h              132
dtype: int64

In [13]:
df_word = pd.DataFrame(ds_word, columns=["count"])

In [14]:
df_word["len_word"] = [len(i) for i in df_word.index]

In [15]:
df_word["len_word"].value_counts()

2     21
4     19
7     13
8     12
5     12
3     10
6      6
11     3
9      3
10     1
Name: len_word, dtype: int64

In [16]:
df_word_l=df_word[df_word["len_word"]>2]
df_word_l

             count  len_word
domicile      1840         8
prise         1556         5
sang          1547         4
pour          1174         4
par           1013         3
test           990         4
merci          903         5
réalisé        775         7
les            730         3
une            668         3
jour           664         4
donc           655         4
pcr            633         3
matin          582         5
jours          576         5
ordonnance     556        10
mars           542         4
est            516         3
cabinet        509         7
antigénique    489        11
fait           417         4
tous           414         4
réalisée       403         8
février        402         7
madame         398         6
didier         390         6
pansement      385         9
que            383         3
2022           353         4
faite          352         5
monsieur       344         8
des            340         3
soir           338         4
janvier        324         7
temps          316         5
pas            316         3
patient        304         7
même           298         4
réalisation    298        11
2021           283         4
midi           279         4
ald            266         3
injection      263         9
plus           257         4
sur            254         3
pendant        233         7
passage        230         7
sous           226         4
avril          223         5
fois           220         4
soins          212         5
décembre       209         8
novembre       204         8
bilan          203         5
octobre        203         7
cutanée        187         7
après          181         5
mois           181         4
vendredi       174         8
effectué       171         8
déplacement    169        11
denise         167         6
patiente       162         8
covid          159         5
partir         155         6
sanguin        154         7
lundi          152         5
avec           150         4
mercredi       149         8
dimanche       148         8
débuté         146         6
amandine       144         8
premier        139         7
juillet        136         7
sylvie         136         6
septembre      136         9
nicolas        135         7
chez           135         4
isabelle       133         8

In [29]:
df_word_l3=df_word[df_word["len_word"]==10]
df_word_l3

            count  len_word
ordonnance    556        10