In [1]:
import pandas as pd

In [2]:
from ephesus.timedate import Date

2022-06-04 23:13:18.897275: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-06-04 23:13:18.897306: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [3]:
test = Date("../models/model_v2/model-best")

In [4]:
test.get_data()

In [5]:
test.df.head()

                                            filename         date
0  3e7ffb67-8872-4172-bf18-4fe338ecae3f_64e118fc-...   27 juillet
1  3e7ffb67-8872-4172-bf18-4fe338ecae3f_64e118fc-...   26 octobre
2  3e7ffb67-8872-4172-bf18-4fe338ecae3f_64e118fc-...  30 novembre
3  3e7ffb67-8872-4172-bf18-4fe338ecae3f_64e118fc-...  28 décembre
4  2d035c4b-cdfa-4982-87dc-916fe07a0824_50e8d80a-...      ce jour

In [6]:
df = test.transform_data()
df.head()

,filename,data,day,month,year,day_of_week,day_from_today
0,3e7ffb67-8872-4172-bf18-4fe338ecae3f_64e118fc-...,"[27, juillet]",27,7,99,99,99
1,3e7ffb67-8872-4172-bf18-4fe338ecae3f_64e118fc-...,"[26, octobre]",26,10,99,99,99
2,3e7ffb67-8872-4172-bf18-4fe338ecae3f_64e118fc-...,"[30, novembre]",30,11,99,99,99
3,3e7ffb67-8872-4172-bf18-4fe338ecae3f_64e118fc-...,"[28, décembre]",28,12,99,99,99
4,2d035c4b-cdfa-4982-87dc-916fe07a0824_50e8d80a-...,[jour],99,99,99,99,0

In [9]:
df.tail()

,filename,data,day,month,year,day_of_week,day_from_today
4114,2d035c4b-cdfa-4982-87dc-916fe07a0824_5d093a86-...,"[28, 10]",28,10,99,99,99
4115,2d035c4b-cdfa-4982-87dc-916fe07a0824_440d48c4-...,"[18, septembre, 2021]",18,9,2021,99,99
4116,55d674cc-3389-4cf6-ab7c-1f1b9fa1b6ed_2db874ba-...,"[6, avril, 2021]",6,4,2021,99,99
4117,c619f0e1-7c22-4047-adb2-df4dec6643ba_a5e8a359-...,"[20, juin]",20,6,99,99,99
4118,9f980dcf-b431-4e67-876f-2b8e288b7900_174af308-...,"[22, février]",22,2,99,99,99

# now, play with time

In [1]:
import time

In [2]:
from ephesus.timedate import Time

2022-06-05 00:52:28.635890: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-06-05 00:52:28.635916: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [3]:
token = "18h10"

time_formats = ["%Hh%M", "%H %M", "%Hh", "%H"]

correct_format_found = False
hour_min = False
for time_format in time_formats:
    try:
        hour_min = time.strptime(token, time_format)
        correct_format_found = True
    except ValueError:
        correct_format_found = False

if hour_min:
    hour = hour_min.tm_hour
    minute = hour_min.tm_min
else:
    hour, minute = 99, 99
    
print(hour, minute)

18 10

In [4]:
path_spacy = "../models/model_v2/model-best"
test = Time(path_spacy=path_spacy)
test.get_data()

In [5]:
test.get_plain_text_time(["midi"])

(12, 0)

In [7]:
df = test.transform_data()
df.head()

      data      time
0    [11h]   (11, 0)
1   [8h15]   (8, 15)
2     [9h]    (9, 0)
3  [11h15]  (11, 15)
4  [19h15]  (19, 15)